body {
    -moz-transform: scale(2); /* for Firefox, default 1*/
    zoom:200%; /* For Chrome, IE, default 100%*/
    background-color: #343D46;
    color: #C0C5CE;
    text-shadow: 0.2px 0.2px 0.4px black;
}

.form {
  position: relative;
  top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.labels {
  grid-column: 1;
  justify-self: end;
}

.inputs {
  grid-column: 2;
  justify-self: start;
}

.buttons {
  position: relative;
  top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#reset {
  grid-column: 1;
  justify-self: end;
}

#submit {
  grid-column: 2;
  justify-self: start;
}

#results {
  position: relative;
  top: 110px;
}

.resultLabels {
  grid-column: 1;
  justify-self: end;
}

.resultValues {
  grid-column: 2;
  justify-self: start;
  color: white;
  text-shadow: 0.2px 0.2px 0.5px black;
}

#warn {
  position: relative;
  top: 120px;
  text-align: center;
}